<%= render "shared/user_box", user: @user %>
<div class = "bio-box-container">
  <div class = "bio-box">
    <p>Bio</p>
    <br>
    <p><%=@user.bio%></p>
  </div>
</div>
<% @user.recent_posts.each do |post| %>
  <a class = "bio-box-container" href="<%= user_post_path(@user, post) %>">
    <%= render "shared/post_box", post: post %>
  </a>
<% end %>
<a class = "btn-container" href="<%= user_posts_path(@user) %>">
  <button class = "see-all-posts">See all posts</button>
</a>

<% if current_user == @user %>
<a class = "btn-container" href="<%= new_user_post_path(current_user) %>">
    <button class='new-post-btn'>Create a new post</button>
</a>
<% end %>

<a class = "btn-container" href="<%= users_path %>">
  <button class = "back">⬅ Back</button>
</a>