<%= render "shared/user_box", user: @user %>

<% @posts.includes(comments: :author).each do |post| %>
  <a class = "post-box" href="<%= user_post_path(@user, post) %>">
    <div class = "bio-box-container">
      <%= render "shared/post_box", post: post, user: @user%>
    </div>
      <%= render "shared/comment_box", comments: post.comments.last(5) %>
  </div>
<% end %>

<a class = "btn-container" href="<%= new_user_post_path(@user) %>">
    <button class='new-post-btn'>Create a new post</button>
</a>

<a class = "btn-container" href="<%= user_path(@user) %>">
  <button class = "back">⬅ Back</button>
</a>