<div class= "post-container">
  <div class = "post">
    <div class = "post-header">
      <p>Post #<%= @post.id%> by <%= @user.name%></p>
      <div class = "likes-corner">
        <p>Comments: <%= @post.comments_count %>, Likes: <%= @post.likes_count %></p>
          <%= button_to "Like", like_user_post_path(@user, @post), method: :post %>
      </div>
    </div>
    <p class = "post-text">
    <br>
    <%= @post.text%>
    </p>
  </div>

</div>
<%= render "shared/comment_box", comments: @post.recent_comments %>

<a class = "btn-container" href="<%= new_user_post_comment_path(@user, @post) %>">
    <button class='new-comment-btn'>Create a new comment</button>
</a>

<a class = "btn-container" href="<%= user_posts_path(@user) %>">
  <button class = "see-all-posts">⬅ Back</button>
</a>

<a class = "btn-container" href="<%= url_for(action: 'index', controller: 'users') %>">
  <button class = "back">Home</button>
</a>